<%- include('partials/header') -%>

<div class="container text-center">
  <a href="/profile" class="btn btn-outline-primary btn-space" >Profile</a>
  <a href="/feed" class="btn btn-outline-primary btn-space" >Feed</a>
  <a href="/logout" class="btn btn-outline-primary btn-space" >Logout</a>
</div>

<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-6">

      <h2 class="text-secondary"><%= post.title %></h2>
      <img class="img-fluid img-border" src="<%= post.image%>" />

    </div>

    <div class="col-3 mt-5">

      <div class="row justify-content-between">
    
        <!-- to like a post -->
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-outline-danger fa fa-heart" type="submit"></button>
        </form>       

        <!-- to delete a post - Check if post belongs to logged user -->
        <%if(post.user == user.id){ %>

          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-outline-secondary fa fa-trash" type="submit"></button>

          </form>

        <%}%>
      </div>

      <!-- show number of likes -->
      <span class="col-3">Likes: <%= post.likes %></span>  

      <br>
      <br>

      <!-- username and caption -->
      <h7><%= post.createdAt.toDateString()%></h7>
      <a href=""><h4><%= postUsername.userName %></h4></a>
      <br>
      <br>
      <p><%= post.caption %></p>
    </div>

    
    <form action="/post/createComment/<%= post.id %>" method="POST">
      <div class="mb-3">
          <br>
          <br>
          <label for="comment" class="form-label">Add a comment</label>
          <input type="text" class="form-control" id="comment" name="comment">
      </div>
      
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      <br>
    
    </form>

    <ul>
      <% for(var i=0; i<comment.length; i++) {%>
        <li class="">

          <br>
          
          <%= commentUsername[i].userName%>: <%= comment[i].comment%> 
         
          <!-- to delete a comment - Check if post belongs to logged user or user who posted comment -->
          <%if(post.user == user.id || comment[i].user == user.id ){ %>

            <form
              action="/post/deleteComment/<%= post.id %>/<%= comment[i].id %>?_method=DELETE"
              method="POST"
              class="col-3"
            > 
              <button class="btn btn-outline-secondary fa fa-trash" type="submit"></button>

            </form>

          <%}%>



        </li>
      <% } %>
      
    </ul>


  </div>
</div>

<%- include('partials/footer') -%>
