<%- include('partials/header') -%>

<div class="text-center">
  <h4 class="text-muted"><strong>Welcome,  </strong>  <%= user.userName %></h4>
  <!-- <p><strong>Email</strong>: <%= user.email %></p> -->
  <br>
  <a href="/feed" class="btn btn-outline-primary btn-space" >Feed</a>
  <a href="" class="btn btn-outline-primary btn-space" >Friends</a>
  <a href="" class="btn btn-outline-primary btn-space" >Settings</a>
  <a href="/logout" class="btn btn-outline-primary btn-space" >Logout</a>
</div>

<div class="container">
  <div class="row mt-5 gx-5">
      
      <div class="col-6">
        
        <div class="row justify-content-center mt-5">
          <a class="btn btn-secondary" href="/feed">Go to feed</a>
        </div>  

        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
      </div> 


      <div class="col-6">

        <div class="mt-5">

          <h3>Upload image</h3>

          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary btn-space" value="Upload">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>